<div class="row">
    <div class="col-md-12">

        <% flash.get('mensaje').forEach(function (msg) { %>
            <div class="alert alert-info text-center" role="alert">
                <%=msg%>
            </div>
            <% }) %>

                <h2>Administradores</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% administradores.forEach( admin => { %>
                            <tr>
                                <td scope="row">
                                    <a href="/admin/mis-ordenes/<%=admin.id%>">
                                        <%=admin.id%>
                                    </a>
                                </td>
                                <td scope="row">
                                    <%=admin.nombre%>
                                </td>
                                <td scope="row">
                                    <%=admin.email%>
                                </td>
                                <td>
                                    <%=admin.activo ? "Si" : "No"%>
                                </td>
                                <td>
                                    <% if (admin.activo) { %>
                                        <a href="/admin/desactivar-admin/<%=admin.id%>" class="btn btn-info">Desactivar Cliente</a>
                                        <% } else { %>
                                            <a href="/admin/activar-admin/<%=admin.id%>" class="btn btn-primary">Activar Cliente</a>
                                            <% } %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

    </div>
</div>
