<div class="row">
    <div class="col-md-12">

        <% flash.get('mensaje').forEach(function (msg) { %>
            <div class="alert alert-info text-center" role="alert">
                <%=msg%>
            </div>
            <% }) %>

                <h2>Ordenes</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Total Fotos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ordenes.forEach( orden => { %>
                            <tr>
                                <td scope="row">
                                    <a href="/admin/orden/<%=orden.id%>">
                                        <%=orden.id%>
                                    </a>
                                </td>
                                <td scope="row">
                                    <%=orden.fecha%>
                                </td>
                                <td scope="row">
                                    <%=orden.total%>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

    </div>
</div>
