<div class="row">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-info text-center" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <h2>Ordenes</h2>

    <h3>ID</h3>
    <p>
      <%=orden.id%>
    </p>

    <h3>Fecha</h3>
    <p>
      <%=orden.fecha%>
    </p>

    <h3>Total fotos</h3>
    <p>
      <%=orden.total%>
    </p>

    <h3>Fotos</h3>
    <% orden.detalles.forEach( detalle => { %>
    <p>
      <img src="/images/fotos/<%=detalle.foto.contenido%>" alt="" class="wf-10">
    </p>
    <% }) %>
  </div>
</div>
