<div class="row">
  <div class="col-md-12">


    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-success" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <h2>Admin - Principal</h2>

    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>titulo</th>
          <th>foto</th>
          <th>activa</th>
          <th>acción</th>
        </tr>
      </thead>
      <tbody>
        <% fotos.forEach( foto => { %>
          <tr>
            <td><%=foto.id%></td>
            <td><%=foto.titulo%></td>
            <td><img src="/images/fotos/<%=foto.contenido%>" alt="" class="wf-10"></td>
            <td><%=foto.activa ? "Si" : "No"%></td>
            <td>
              <% if (foto.activa) { %>
              <a href="/admin/desactivar-foto/<%=foto.id%>" class="btn btn-info">Desactivar Foto</a>
              <% } else { %>
              <a href="/admin/activar-foto/<%=foto.id%>" class="btn btn-primary">Activar Foto</a>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <a href="/admin/agregar-foto" class="btn btn-primary">Agregar Foto</a>

  </div>

</div>
